<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/rxjs/dist/rx.all.js"></script>
    <!--<script src="https://npmcdn.com/@reactivex/rxjs@5.0.0-beta.0/dist/global/Rx.umd.js"></script>-->
</head>
<body ng-app="APP">
<div>
    <p>Click on "Pets" then on "Nothing" in each form</p>

    <p>Because pets' promise take long to resolve (longer than nothing's), it ends up with inconsistent output in Basic
        setup: nothing should be displayed but pets arrive!</p>

    <p>RxJs is an elegant way to prevent this concurrency problems from appearing.</p>
</div>
<div ng-controller="StandardController as standard" style="margin-top:50px;">
    <p>Basic setup</p>
    <input id="s-pets" name="standardEntityType" type="radio" ng-model="standard.filters.entityType" value="pets">
    <label for="s-pets">Pets</label>

    <input id="s-colors" name="standardEntityType" type="radio" ng-model="standard.filters.entityType" value="colors">
    <label for="s-colors">Colors</label>

    <input id="s-nothing" name="standardEntityType" type="radio" ng-model="standard.filters.entityType" value="nothing">
    <label for="s-nothing">Nothing</label>

    <p>
        {{ standard.filters | json }}
    </p>
    <ul>
        <li ng-repeat="entity in standard.entities">
            {{ entity.name }}
        </li>
    </ul>
</div>
<hr>

<div ng-controller="RxController as rx" style="margin-top:50px;">
    <p>RxJs setup</p>

    <input id="r-pets" name="rxEntityType" type="radio" ng-model="rx.filters.entityType" value="pets">
    <label for="r-pets">Pets</label>

    <input id="r-colors" name="rxEntityType" type="radio" ng-model="rx.filters.entityType" value="colors">
    <label for="r-colors">Colors</label>

    <input id="r-nothing" name="rxEntityType" type="radio" ng-model="rx.filters.entityType" value="nothing">
    <label for="r-nothing">Nothing</label>

    <p>
        {{ rx.filters | json }}
    </p>
    <ul>
        <li ng-repeat="entity in rx.entities">
            {{ entity.name }}
        </li>
    </ul>
</div>

<script>
    console.clear();

    angular.module('APP', [])
            .service('dataService', function ($q, $timeout) {
                var colors = [
                    {name: 'red'},
                    {name: 'blue'},
                    {name: 'white'}
                ];

                var pets = [
                    {name: 'cat'},
                    {name: 'dog'}
                ];

                function fakeAjax(returnValue, delay) {
                    return $q(function (resolve) {
                        $timeout(function () {
                            resolve(returnValue);
                        }, delay);
                    });
                }

                function getColors() {
                    return fakeAjax(colors, 1500);
                }

                function getPets() {
                    return fakeAjax(pets, 2000);
                }

                function nullResponse() {
                    return fakeAjax([], 1);
                }

                var mapping = {
                    colors: getColors,
                    pets: getPets
                };

                return {
                    getEntities: function (type) {
                        if (mapping[type])
                            return mapping[type]();
                        else
                            return nullResponse();
                    }
                };
            })
            .controller('RxController', function ($scope, dataService) {
                this.entities = [];
                this.filters = {};
                var controller = this;

                var source = Rx.Observable.create(function (observer) {
                    $scope.$watch(function () {
                        return controller.filters.entityType;
                    }, function (newVal) {
                        if (newVal) observer.onNext(newVal);
                    });
                // flatMapLatest() is switchMap() in rxjs 5.0
                }).flatMapLatest(function (type) {
                    return Rx.Observable.fromPromise(dataService.getEntities(type));
                });

                var listener = source.subscribe(
                        function (entities) { controller.entities = entities; },
                        function () {},
                        function () { console.log() }
                );

                $scope.$on('$destroy', function () {
                    listener.dispose();
                });
            })

            .controller('StandardController', function ($scope, dataService) {
                this.entities = [];
                this.filters = {};
                var controller = this;

                function searchEntities(type) {
                    dataService.getEntities(type)
                            .then(function (entities) {
                                controller.entities = entities;
                            });
                }

                $scope.$watch(function () {
                    return controller.filters.entityType;
                }, function (newVal) {
                    searchEntities(newVal);
                });
            });

</script>
</body>
</html>