<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="/lib/angular.js"></script>
  <script src="/lib/Rx4.js"></script>
</head>
<body ng-app="APP">
<a href="http://www.syntaxsuccess.com/viewarticle/combining-multiple-rxjs-streams-in-angular-2.0" target="_blank">
  Combining Multiple RxJs Streams In Angular
</a>
<div>
  <h2>flatMapLatest (switchMap in RX5)</h2>
  <p>
    the only difference between flatMap() and flatMapLatest() is
    Both operators automatically subscribe to an Observable stream
    and flatten the result for us. The difference is flatMapLatest()
    operator automatically unsubscribes from previous subscriptions as soon as the outer
    Observable emits new values. this makes it good for keyup searches on form inputs
    where the previous search can be cancelled.
  </p>
  <p>flatMapLatest will cancel the previous request if it is invoked again which makes
    it great for network requests. Below we can see that using standard promises we can't
    cancel so it ends up out of order but the RX example works
    as we can cancel.
  </p>

  <p>Click on "Pets" then on "Nothing" in each form</p>

  <p>Because pets' promise take long to resolve (longer than nothing's), it ends up with inconsistent output in Basic
    setup: nothing should be displayed but pets arrive!</p>

  <p>RxJs is an elegant way to prevent this concurrency problems from appearing.</p>

</div>
<div ng-controller="StandardController as standard" style="margin-top:50px;">
  <h3>Promise setup</h3>
  <input id="s-pets" name="standardEntityType" type="radio" ng-model="standard.model.entityType" value="pets">
  <label for="s-pets">Pets</label>

  <input id="s-colors" name="standardEntityType" type="radio" ng-model="standard.model.entityType" value="colors">
  <label for="s-colors">Colors</label>

  <input id="s-nothing" name="standardEntityType" type="radio" ng-model="standard.model.entityType" value="nothing">
  <label for="s-nothing">Nothing</label>

  <span style="font-weight: bold">
    {{ standard.model | json }}
  </span>
  <ul ng-if="standard.entities">
    <li ng-repeat="entity in standard.entities">
      {{ entity.name }}
    </li>
  </ul>
</div>
<hr>

<div ng-controller="RxController as rx" style="margin-top:50px;">
  <h3>flatMapLatest setup {{ rx.hoop }} {{ hoop }}</h3>
  <input id="r-pets" name="rxEntityType" type="radio" ng-model="rx.model.entityType" value="pets">
  <label for="r-pets">Pets</label>

  <input id="r-colors" name="rxEntityType" type="radio" ng-model="rx.model.entityType" value="colors">
  <label for="r-colors">Colors</label>

  <input id="r-nothing" name="rxEntityType" type="radio" ng-model="rx.model.entityType" value="nothing">
  <label for="r-nothing">Nothing</label>

  <span style="font-weight: bold">
    {{ rx.model | json }}
  </span>
  <div ng-if="rx.loading">Loading...</div>
  <ul>
    <li ng-repeat="entity in rx.entities">
      {{ entity.name }}
    </li>
  </ul>
</div>


<script>
  // flatMapLatest() is switchMap() in rxjs 5.0
  console.clear();

  class RxController {
    constructor($scope, dataService) {
      this.loading = false;
      this.entities = [];
      this.model = {};
      const source$ = new Rx.Subject();

      const listener = source$
        .do(() => this.loading = true)
        .flatMapLatest(type => Rx.Observable.fromPromise(dataService.getEntities(type)))
        .subscribe(entities => {
          this.entities = entities;
          this.loading = false;
          console.log(this.entities);
        });

      $scope.$watch('rx.model.entityType', x => source$.onNext(x));
      $scope.$on('$destroy', () => listener.dispose());
    }
  }

  class StandardController {
    constructor($scope, dataService) {
      this.entities = [];
      this.model = {};
      $scope.$watch('standard.model.entityType',
        (type) => dataService.getEntities(type).then((entities) => this.entities = entities));
    }
  }

  class DataService {
    constructor($q, $timeout) {
      this.$q = $q;
      this.$timeout = $timeout;
      this.colors = [
        {name: 'red'},
        {name: 'blue'},
        {name: 'white'}
      ];
      this.pets = [
        {name: 'cat'},
        {name: 'dog'}
      ];
      this.mapping = {
        colors: this.getColors.bind(this),
        pets: this.getPets.bind(this)
      };
      this.getEntities = this.getEntities.bind(this);
    }

    fakeAjax(returnValue, delay) {
      return this.$q(resolve => this.$timeout(() => resolve(returnValue), delay));
    }

    getColors() {
      return this.fakeAjax(this.colors, 1500)
    }

    getPets() {
      return this.fakeAjax(this.pets, 2000)
    }

    nullResponse() {
      return this.fakeAjax([], 1);
    }

    getEntities(type) {
      if (this.mapping[type])
        return this.mapping[type]();
      else
        return this.nullResponse();
    }
  }

  angular.module('APP', [])
    .service('dataService', DataService)
    .controller('RxController', RxController)
    .controller('StandardController', StandardController);

</script>
</body>
</html>